.media.mb-3[post]
	%img.mr-3{ src: post.user.avatar, style: 'width: 64px;' }
	.media-body
		.media-byline
			%strong
				= post.user
			= time_ago_in_words( post.created_at )
			ago
		.media-text
			- if post.content
				%blockquote.small
					= raw post.content
		- unless args[:disable_votes]
			.media-actions
				= render 'scuttlebutt/votes/widget', parent_obj: post, args: {}
