- @comment_widgets.each do |comment_widget|
	$("#{comment_widget[:selector]}").replaceWith("#{j render(partial: 'scuttlebutt/comments/widget', locals: {  parent_obj: comment_widget[:parent_obj], args: ( comment_widget[:args] || {} ).deep_merge( { comment: { async: true } } ) })}")
	$("#{comment_widget[:selector]}").trigger('new-content')
