$("#{params[:selector]}").replaceWith("#{j render(partial: 'scuttlebutt/comments/widget', locals: {  parent_obj: @parent_obj, args: ( params.require(:args).permit(:per,:page,:comment,:form) || {} ).to_h.symbolize_keys.deep_merge( { comment: { async: true } } ) })}")
