.container
	.row
		.col-10
			%h2.mb-0=@discussion
			%nav
				%ol.breadcrumb
					%li.breadcrumb-item
						%a{ href: scuttlebutt.discussions_path }
							Discussions
					%li.breadcrumb-item.active
						= @discussion
		.col-2
			%a.btn.btn-success{ href: '#new_topic', data: { toggle: :modal, target: '#new_topic' } }
				%i.fa.fa-plus
				Post
	.row
		.col-12
			- if @topics.present?
				%ul.list-unstyled
					- @topics.each do |topic|
						= render 'scuttlebutt/discussion_topics/topic', topic: topic, args: {}
			- else
				%h4
					Be the first to post in this discussion

= render 'scuttlebutt/discussion_topics/new_modal'
